<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>events</title>
</head>
<body>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
        <a href="{% url 'events:detail' question.id %}">{{ question.question_text }}</a>
        </li>
        <em><a href="{% url 'events:results' question.id %}">results</a></em>
    {% endfor %}
    </ul>
{% else %}
    <p>No events are available.</p>
{% endif %}
</body>
</html>